{% extends "base.html" %}
{% block content %}
<div class="form-container active">
    <h2 class="mb-4">{{ title }}</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.titre_reco.label(class="form-label") }}
            {{ form.titre_reco(class="form-control") }}
        </div>
         <div class="form-group">
            {{ form.recommendation.label(class="form-label") }}
            {{ form.recommendation(class="form-control") }}
        </div>
         <div class="form-group">
            {{ form.titre_vuln.label(class="form-label") }}
            {{ form.titre_vuln(class="form-control") }}
        </div>
         <div class="form-group">
            {{ form.vuln.label(class="form-label") }}
            {{ form.vuln(class="form-control") }}
        </div>
         <div class="form-group">
            {{ form.v_impact.label(class="form-label") }}
            {{ form.v_impact(class="form-control") }}
        </div>
         <div class="form-group">
            {{ form.v_proba.label(class="form-label") }}
            {{ form.v_proba(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}