{% extends "base.html" %}
{% block content %}
<div class="body"></div>
    <h2>{{ title }}</h2>
    <div class="container">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.id_domaine.label(class="form-label") }}
                {{ form.id_domaine(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.mission.label(class="form-label") }}
                {{ form.mission(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.client_name.label(class="form-label") }}
                {{ form.client_name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.client_company.label(class="form-label") }}
                {{ form.client_company(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.client_address.label(class="form-label") }}
                {{ form.client_address(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.client_siren.label(class="form-label") }}
                {{ form.client_siren(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.client_produit.label(class="form-label") }}
                {{ form.client_produit(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.client_representative.label(class="form-label") }}
                {{ form.client_representative(class="form-control") }}
            </div><div class="form-group">
                {{ form.client_title.label(class="form-label") }}
                {{ form.client_title(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.date_planification.label(class="form-label") }}
                {{ form.date_planification(class="form-control") }}
            </div>  
            <div class="form-group">
                {{ form.date_presentation.label(class="form-label") }}
                {{ form.date_presentation(class="form-control") }}
            </div>  
            <div class="form-group">
                {{ form.date_restitutation.label(class="form-label") }}
                {{ form.date_restitutation(class="form-control") }}
            </div>  
            <div class="form-group">
                {{ form.date_debut_mission.label(class="form-label") }}
                {{ form.date_debut_mission(class="form-control") }}
            </div>  
            <div class="form-group">
                {{ form.date_fin_mission.label(class="form-label") }}
                {{ form.date_fin_mission(class="form-control") }}
            </div>  
            <div class="form-group">
                {{ form.date_debut_audit.label(class="form-label") }}
                {{ form.date_debut_audit(class="form-control") }}
            </div>  
            <div class="form-group">
                {{ form.date_fin_audit.label(class="form-label") }}
                {{ form.date_fin_audit(class="form-control") }}
            </div>  
            <div class="form-group">
                {{ form.date_rapport.label(class="form-label") }}
                {{ form.date_rapport(class="form-control") }}
            </div>  
            
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
