{% extends "base.html" %}

{% block content %}
<div class="form-container active">
    <h2>{{ title }}</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.id_domaine.label(class="form-label") }}
            {{ form.id_domaine(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.texte.label(class="form-label") }}
            {{ form.texte(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}
