{% extends "base.html" %}

{% block content %}
<h2>Ajouter un utilisateur à la mission {{ mission.nom }}</h2>
<form method="POST" action="{{ url_for('mission.edit_right', id_mission=mission.id_mission) }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.user.label(class="form-label") }}
        {{ form.user(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.role.label(class="form-label") }}
        {{ form.role(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endblock %}
