{% extends "base.html" %}

{% block content %}
</br>
<div class="form-container active">
    <h2>{{ title }}</h2>
    <table id="recommandations-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Livrable</th>
                <th >Recommandations</th>
                <th>Vulnérabilités</th>
            </tr>
        </thead>
        <tbody>
            <!-- Les recommandations seront insérés ici -->
        </tbody>
    </table>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            fetch('/api/recommandations')
                .then(response => response.json())
                .then(data => {
                    const tableBody = document.querySelector('#recommandations-table tbody');
                    data.forEach(recommandation => {
                        const row = document.createElement('tr');
                        const idCell = document.createElement('td');
                        const livrablesCell = document.createElement('td');
                        const titre_recoCell = document.createElement('td');
                        const titre_vulnCell = document.createElement('td');
                        idCell.textContent = recommandation.id_recommandation;
                        livrablesCell.textContent = recommandation.livrables;
                        titre_recoCell.textContent = recommandation.titre_reco;
                        titre_vulnCell.textContent = recommandation.titre_vuln;
                        row.appendChild(idCell);
                        row.appendChild(livrablesCell);
                        row.appendChild(titre_recoCell);
                        row.appendChild(titre_vulnCell);
                        tableBody.appendChild(row);
                    });
                })
                .catch(error => console.error('Error fetching recommandations:', error));
        });
    </script>




</div>
{% endblock %}
